h1{
    color: hsl(300, 43%, 22%);
}
#pricolor{
    color: hsl(300, 43%, 22%);
}
#seccolor{
    color: hsl(333, 80%, 67%);
}
#names{
    color:hsl(0, 0%, 100%);
}
#paracolor{
    color:hsl(300, 24%, 96%);
}
.card{
    background-color: hsl(300, 24%, 96%);
}
.mcard{
    background-color: hsl(300, 43%, 22%);   
}
.ms-4{
margin-left: 3rem !important;
}
.ms-5{
margin-left: 6rem !important;
}
.row{
    padding-left: 10rem;
    padding-right: 10rem;
}
#start{
    padding-top: 5rem;
}
#para{
    width: 35%;
}